body {
    font-family: 'Montserrat', sans-serif;
  }
  
  html {
    box-sizing: border-box;
    background-color: #141b1d;
  }
  
  .price {
    &-page {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      min-height: 100vh;
      padding: 0;
  
      &__container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  
    &-card {
      width: 380px;
      background-color: #334247;
      color: white;
      height: 770px;
      text-align: center;
      padding: 32px 0;
      border-radius: 8px;
  
      &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 67px;
        line-height: 1.5;
        margin-bottom: 31px;
  
        &--big {
          font-size: 25px;
          font-weight: 700;
          line-height: 30px;
          text-align: center;
        }
  
        &--small {
          font-size: 20px;
          font-weight: 300;
          line-height: 24px;
          text-align: center;
        }
      }
  
      &__price {
        font-size: 55px;
        height: 105px;
        color: #fff;
        margin: 0;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
  
        &--basic {
          background-color: #5bb189;
        }
  
        &--business {
          background-color: #3a6ba5;
        }
  
        &--webshop {
          background-color: #ec632a;
        }
      }
  
      &__describe {
        margin: 20px 22px;
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
      }
  
      &__options-list {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        font-size: 15px;
        font-weight: 300;
  
        li {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px 22px;
          height: 50px;
  
          &.price-card__options-list-odd {
            background-color: rgba(42, 52, 56, 0.5);
          }
  
          &.price-card__options-list-even {
            background-color: rgba(31, 61, 99, 0);
          }
        }
      }
  
      &__button {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        height: 40px;
        width: 156px;
        border: none;
        border-radius: 20px;
        margin: 40px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
  
        &--basic {
          background-color: #5bb189;
        }
  
        &--business {
          background-color: #3a6ba5;
        }
  
        &--webshop {
          background-color: #ec632a;
        }
      }
    }
  }