$color-primary: #334247;
$color-accent-basic: #5bb189;
$color-accent-business: #3a6ba5;
$color-accent-webshop: #ec632a;
$color-label-bg: #DC3F45;
$color-white: #fff;

$font-family: 'Montserrat', sans-serif;

$label-padding: 5px 30px;
$button-height: 40px;
$button-width: 156px;
